= form_for(comment, url: comments_path(comment), html: { class: "new-comment-form" }) do |f|
  = f.text_area(:body, label: "Comment")
  = f.hidden_field(:image_owner_id, value: image.id)
  = f.submit("New Comment")
