.large-12.columns
  %h1= @user.name
%hr/
.large-12.columns
  - @images.each_slice(6) do |grouped_images|
    = render(grouped_images)
.large-12.columns
  = will_paginate(@images, renderer: FoundationPagination::Rails)
